.main-tabs .nav-tabs .nav-link{
    color: #484848;
    font-weight: 600;
    border: none
}

.main-tabs .nav-tabs .nav-link.active{
    color: #3551B6 !important;
    border: none;
    border-bottom: 2px solid #3551B6
}

.text-blue{
    color: #3551B6;
}

.bg-lightgrey{
    background-color: #F7F7F7;
}

.chk{
    accent-color: black !important;
    height: 15px;
    width: 15px
}

.filter-col{
    width: calc(20% - 12px);
    margin: 0 6px;
}

.bg-lgrey{
    background-color: #F7F7F7;
}

.host-img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    object-fit: cover;
}

.step-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step-font{
    font-size: 42px;
    font-weight: 600;
}

.lblue{
    color: #32F0CD;
}

.bg-lblue{
    background-color: #32F0CD;
}

.max{
    width: max-content;
}

@media screen and (max-width: 1200px){
    .filter-col {
        width: calc(33.33% - 12px);
        margin: 6px 6px;
    }
}

@media screen and (max-width: 992px){
    .filter-col {
        width: calc(50% - 12px);
        margin: 6px 6px;
    }
}

@media screen and (max-width: 576px){
    .filter-col {
        width: calc(100% - 12px);
        margin: 6px 6px;
    }
}