.not-icon {
    color: #484848;
}
.not-main {
    padding: 6px 6px;
    border: 1px solid #CDCDCD;
}
.new-not:before {
    position: absolute;
    content: '';
    top: 8px;
    right: 5px;
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: red;
}
/* -----------default-table------- */
.default-table th,
.default-table td {
    padding: 16px 16px;
}
.graybutton {
    background: #E7E7E7;
    border: 1px solid #D5D5D5;
    padding: 10px 10px;
    min-width: 130px;
    max-width: 150px;
}
.bluebutton {
    background: var(--blue);
    border: 1px solid var(--blue);
    padding: 10px 10px;
    min-width: 130px;
    max-width: 140px;
}